.home-container {
    padding-left: 6rem;
    padding-top: 5rem;
}
a {
    text-decoration: none !important;
    color: white !important;
}
.maincard-display {
    display: flex;
    justify-content: flex-end;
    margin-right: 59px;
    justify-content: space-between;
}
.topchart {
    font-size: 12px;
    padding-right: 2rem;
}
.topchart h2 {
    font-size: 24px;
    font-weight: 700;
}
.topchart h4{
    margin-bottom: 8px;
    font-size: 17px;
    line-height: 20.4px;
}

.topchart p{
    margin-bottom: 8px;
    line-height: 14.4px;

}

