@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


.topchart {
    
    
    font-size: 12px;
}

.topchart h4{
    margin-bottom: 8px;
    
    font-size: 17px;
    line-height: 20.4px;
}

.topchart p{
    margin-bottom: 8px;
    line-height: 14.4px;
}



.singleChart {
    margin-top: 12px;
    background: #1A1E1F;
    width: 417px;
    height: 96px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 17px;
}

.img {
width: 63px;
height: 63px;
    border-radius: 10px;
}

.elements {
    background-color: #1A1E1F;
    width: 170px;
    display: flex;
    flex-direction: column;
    margin-left: 17px;
}

span{

   color: rgba(255, 255, 255, 0.5);
   ; 
}

.heart-icon {
     width: 35px;
    height: 15px;
    margin: 28px 0 0 120px;
}