@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.singleChart {
    margin-top: 12px;
    background: #1A1E1F;
    width: 100%;
    height: 96px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 17px;
}

.img {
    width: 63px;
    height: 63px;
    border-radius: 10px;
}

.elements {
    background-color: #1A1E1F;
    width: 170px;
    display: flex;
    flex-direction: column;
    margin-left: 17px;
}

span{
   color: rgba(255, 255, 255, 0.5);
}

.heart-icon {
    width: 35px;
    height: 15px;
    margin: 28px 0 0 120px;
}