
.release--container {
    margin-top: 1.8rem;
}
.album--container {
    display: relative;
    overflow-x: auto;
    column-gap: 2rem;
    justify-content: flex-start !important;
    margin-top: 1rem;
}
.album--container::-webkit-scrollbar {
    display: none;
}
.album {
    font-size: 0.75rem !important;
    font-weight: 400;
}
.album h4 {
    font-size: 1rem;
    font-weight: 400;
    margin-block: .5rem 0.1rem;
    opacity: .85;
}
.album img {
    max-width: 153px;
    height: 153px;
    border-radius: 25px;
}
.album p {
    opacity: .5;
}

