
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


.maincard{

    font-family: 'Quicksand';
    height: 373px;
    width: 686px;
    margin-right: 25px;
    
}
.maincard-bg{
    width: 100%;
    height: 100%;
    background-color: #609eaf;
    border-radius: 40px;
    overflow: hidden;
    
}
.vector{
    width: 100%;
    height: 100%;
    background-image: url(../../../../assets/Vector.svg);
    
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    position: relative;    
}
.leftside{
    float: left;
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45px;
    padding-right: 0;
}
.leftside > p{
    font-size: 12px;
}

.title{
    font-size: 35px;
    font-weight: 700;
    
}
.content{
    font-size: 14px;
    line-height: 120%;
}
.bottom{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    
    
}
.likes{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    font-size: 14px;
}
.rightside{
    float: left;
    width: 50%;
    height: 100%;
}

.Hero{
    width: 100%;
    height: 100%;
    object-fit: cover;
}