/* 
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
}
.searchbar {
    position: absolute;
    width: 122px;
    height: 73px;
    left: 96px;
    top: 0px;
    background: transparent;
    padding: 29px 964px 26px 25.33px;
}

input {
    height: 20px;
    background: #1D2123;
    border: none ;
}

.search-icon {
    margin: 0 25.33px 0 29px  ;
    height: 20px;
}

.logo {
    padding: 30px 25px 25px 30px;
} */

.nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 1.5rem;
    z-index: 1;
}
.searchbar{
    padding-left: 2.4rem;
    background: transparent;
}
input[type="text"] {
    border: none ;
    background: url(../../assets/search.svg) no-repeat left 5px top 50%;
    padding-left: 25.33px;
    padding-block: 5px;
    color: white;
}
.input[type="text"]:focus {
    outline: none;
    background-color: hsla(100, 100%, 100%, 0.2);
    border-radius: 10px;
}
.search-icon {
    margin: 0 25.33px 0 29px  ;
    height: 20px;
}