@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
    font-family: 'Quicksand', sans-serif;
}

.main {
    background: #1D2123;
    color: white;
    max-width: 100%;
    min-height: 100vh;
    position: relative;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}