@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
    background: #000;
    font-family: 'Quicksand', sans-serif;
}

.main {
    background: #1D2123;
    color: white;
    height: 100vh;
}